<!--
<div>
  <input type="text" id="search" name='text' placeholder="search" >
  <input type="submit" name="Submit" id='submit'value="Submit">
</div>

<div id=returned></div> -->

<%= react_component 'SearchPage' %>
<!-- <div id='body'>
<div id='information'></div>
</div> -->
